<section class="page-sections projects" data-id="section-2">
  <h2 class="section-title">This is the projects section</h2>
  <article class="project-card">
    <h3 class="project-title">Project Title</h3>
    <div class="image-container">
      <img src="https://placekitten.com/300/300" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum
      laboriosam architecto neque pariatur aliquam alias consequuntur, odio ex
      enim? Culpa, nemo. Doloremque odio ipsam, nobis hic impedit atque
      consequatur.
    </p>
  </article>
</section>
