<section class="page-sections projects" data-id="section-2">
  <h2>This is the projects section</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi debitis
    reiciendis vero nisi voluptates impedit labore sed. Quas quis suscipit totam
    eveniet nam dignissimos, ab facere placeat vitae molestiae nostrum. Sit
    atque laborum dolorum fuga quaerat labore modi quam natus! Neque provident
    aperiam dolor magni recusandae nihil eius fugit labore dicta ipsa nam
    facilis temporibus, voluptate quidem quisquam quos nesciunt? Distinctio sed
    nemo ab quo autem repellendus sint, accusantium voluptate quia sit nam!
    Porro atque voluptate consequuntur, sapiente delectus unde explicabo
    aspernatur. Quos magni enim repellendus, incidunt quam ipsa iste. Nobis
    perferendis esse nam, sed consequatur illum id assumenda, officiis
    repellendus mollitia accusamus. Quas repudiandae dolorum illum ratione
    veniam eius? Explicabo, cumque in provident earum pariatur asperiores. Est,
    eligendi quisquam! Doloremque quo, vitae doloribus obcaecati, perspiciatis
    porro minima minus voluptatem optio magnam suscipit expedita iure. Quisquam
    animi tempora sit excepturi debitis labore veritatis aliquid totam fuga
    explicabo, provident, inventore deleniti.
  </p>
</section>
