// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Courier New", Courier, monospace;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-grey-light: rgb(179, 179, 179);
$color-grey-dark: rgb(121, 121, 121);
