.page {
  height: 100vh;
  background: lightpink;
  overflow: hidden;
  .main {
    position: relative;
    font-family: $font-main;
    padding: 0px 10px 20px;
    height: 100%;

    padding-top: 10vh;
    background: lightgreen;
    .page-sections {
      padding-bottom: 0;
      position: absolute;
      border: 1px solid red;
      top: 0;
      left: 0;
      opacity: 0;
      height: 0;
      // width: 0%;
      transition: all 1.5s ease;
      z-index: 1;
      padding-bottom: 30px;
    }
  }
}
.page.size-header {
  .main {
    .page-sections.visible-section {
      position: relative;
      background: pink;
      opacity: 1;
      height: 100%;
      z-index: 2;
      overflow-y: scroll;
    }
  }
}
