.page__main {
  padding-top: 60px;
  height: 100vh;
  overflow: hidden;
  font-family: $font-main;
  section {
    opacity: 0;
    height: 0%;
    transition: opacity 2s ease;
  }
  .visible-section {
    opacity: 1;
    height: 100%;
  }
}
.size-header {
  .page__main {
    overflow-y: scroll;
  }
}
