.page {
  height: 100vh;
  overflow: hidden;
  .main {
    position: relative;
    font-family: $font-main;
    padding: 10vh 15px 40px;
    height: 100%;
    padding-top: 10vh;
    .page-sections {
      position: relative;
      opacity: 0;
      height: 0;
      transition: all 1.5s ease;
      z-index: 1;
    }
  }
}
.page.size-header {
  .main {
    .page-sections.visible-section {
      opacity: 1;
      height: 100%;
      z-index: 2;
      padding: 0 0 10px;
      overflow-y: auto;
      .section-title {
        padding: 10px 0;
      }
    }
  }
}
