.projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .project-card {
    border: 1px dashed black;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    .project-title {
      padding: 10px 0;
    }
    .image-container {
      margin: auto;
      height: 250px;
      width: 250px;
      overflow: hidden;
      background-position: cover;
      margin-bottom: 10px;
    }
  }
}
